.git
.idea
.gigacode
.env
**/.venv
**/__pycache__
**/.ipynb_checkpoints
**/node_modules
frontend
notebooks
docs
*.md
Dockerfile
Dockerfile.cpu
docker-compose.research.yml
data/db.sqlite3
data/processed/*
!data/processed/.gitkeep
results/*
!results/.gitkeep
!results/models/
results/models/*
!results/models/.gitkeep
*.log
*.db
backend/db.sqlite3
backend/staticfiles
